.container {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .chartContainer {
    width: 50%;
    border: .1rem solid rgba(74, 191, 191, 0.2);
    border-radius: .5rem;
    padding: 3rem;
    .header{
      h1 {
        display: flex;
        position: relative;
        font-size: 3.6rem;
        font-weight: 500;
        user-select: none;
        .units {
          margin-left: 2rem;
          cursor: pointer;
          li {
            display: flex;
            align-items: center;
            svg {
              margin-left: 1rem;
              font-size: 2.4rem;
            }
            .options {
              position: absolute;
              top: 4rem;
              flex-direction: column;
              z-index: 3;
              background: #383838;
  
              li {
                font-size: 2.2rem;
                font-weight: 300;
                padding: 0.3rem 3rem;
                border: 0.1rem solid #212121;
              }
              li:hover {
                background: #525252;
              }
            }
          }
        }
      }
      h3 {
        font-size: 2.2rem;
        padding: 1rem 0;
        svg {
          margin-left: 2rem;
        }
      }
      small {
        font-size: 1.2rem;
        display: inline-block;
        margin-bottom: 5rem;
      }
    }

  }
}
